<div class="container" *ngIf="admin">
  <h2>Edit Admin</h2>
  <form (ngSubmit)="onSubmit()" #adminForm="ngForm">
    <div class="form-group mb-4">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [ngModel]="admin.name"
        (ngModelChange)="admin.name = $event"
        name="name"
        required
      />
      <div *ngIf="validationErrors?.name" class="invalid-feedback">
        {{ validationErrors.name[0] }}
      </div>
    </div>
    <div class="form-group mb-4">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        [ngModel]="admin.email"
        (ngModelChange)="admin.email = $event"
        name="email"
        required
      />
      <div *ngIf="validationErrors?.email" class="invalid-feedback">
        {{ validationErrors.email[0] }}
      </div>
    </div>
    <div class="form-group mb-4">
      <label for="image">Image</label>
      <input
        type="file"
        class="form-control-file"
        id="image"
        (change)="onFileChange($event)"
        accept="image/*"
      />
      <div *ngIf="validationErrors?.image" class="invalid-feedback">
        {{ validationErrors.image[0] }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <button type="button" class="btn btn-danger mx-2" (click)="goBack()">
      Cancel
    </button>
  </form>
  <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>
</div>
