<section class="user-profile mt-5">
  <div class="sidebar">
    <img
      [src]="authService.currentUser.image_url"
      alt="User Image"
      class="user-image"
    />
    <h1 class="user-name">{{ authService.currentUser.full_name }}</h1>
  </div>
  <div class="details">
    <div class="edit-button">
      <app-edit-info></app-edit-info>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ authService.currentUser.email }}</h3>
        <h6 class="card-subtitle">{{ authService.currentUser.gender }}</h6>
      </div>
    </div>
  </div>
</section>
