<div class="d-flex justify-content-center">
  <section class="container shadow p-5 my-4 row align-items-center">
    <div class="col-5">
      <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <p class="title">Join Us Now !</p>
        <p class="message">Signup now and get full access to our collection.</p>
        <div class="flex">
          <label>
            <input
              required=""
              placeholder=""
              type="text"
              class="input"
              [ngClass]="{
                'is-invalid': firstName?.errors && firstName?.touched
              }"
              formControlName="firstName"
            />
            <span>First name</span>
            @if (firstName?.hasError('required')) {
            <p class="invalid-feedback">First Name is rquired</p>
            }
          </label>

          <label>
            <input
              required=""
              placeholder=""
              type="text"
              class="input"
              [ngClass]="{
                'is-invalid': lastName?.errors && lastName?.touched
              }"
              formControlName="lastName"
            />
            <span>Last name</span>
            @if (lastName?.hasError('required')) {
            <p class="invalid-feedback">Last Name is rquired</p>
            }
          </label>
        </div>

        <label>
          <input
            required=""
            placeholder=""
            type="email"
            class="input"
            [ngClass]="{
              'is-invalid': email?.errors && email?.touched || email?.dirty
            }"
            formControlName="email"
          />
          <span>Email</span>
          @if (email?.hasError('required')) {
          <p class="invalid-feedback">Email is rquired</p>
          } @if (email?.hasError('email')) {
          <p class="invalid-feedback">invalid email format</p>
          }
        </label>

        <label>
          <input
            required=""
            placeholder=""
            type="password"
            class="input"
            [ngClass]="{
              'is-invalid':
                password?.errors && password?.touched || password?.dirty
            }"
            formControlName="password"
          />
          <span>Password</span>
          @if (password?.hasError('required')) {
          <p class="invalid-feedback">Password is rquired</p>
          } @if (password?.hasError('pattern')) {
          <p class="invalid-feedback">
            The password must be comprised of 8 characters, which can be either
            uppercase letters, lowercase letters, or numbers.
          </p>
          }
        </label>
        <div class="mydict">
          <div>
            <label>
              <input
                type="radio"
                name="gender"
                checked=""
                formControlName="gender"
                [ngClass]="{ 'is-invalid': gender?.invalid && gender?.touched }"
                value="male"
              />
              <span>Male</span>
            </label>
            <label>
              <input
                type="radio"
                name="gender"
                checked=""
                formControlName="gender"
                value="female"
              />
              <span>Female</span>
            </label>
          </div>
          <div
            *ngIf="gender?.invalid && gender?.touched"
            class="invalid-feedback"
          >
            <p>Email is required</p>
          </div>
        </div>
        <button class="submit">Submit</button>
        <p class="signin">
          Already have an acount ? <a routerLink="/account/login">Signin</a>
        </p>
      </form>
    </div>
    <img
      src="../../../assets/images/registration/sofa-7354949_1280.png"
      class="col"
      alt=""
    />
  </section>
</div>
