<div class="container">
  <ng-container *ngIf="isLoading; else productsContent">
    <div>
      <app-spinner></app-spinner>
    </div>
  </ng-container>

  <ng-template #productsContent>


    <ng-container>
      <div class="row my-5">
        <h1 class="col-12 display-3 text-light text-center">
          Explore our collection carefully
        </h1>
      </div>

      <ng-container *ngIf="pagedProducts.length === 0">
        <div class="alert alert-warning text-center">No products found.</div>
      </ng-container>
      
      <div class="row my-5">
        <div
          class="col-lg-3 col-md-6 mb-4"
          *ngFor="let product of pagedProducts"
        >
          <div class="card h-100 position-relative">
            <img
              [src]="product.image"
              class="card-img-top"
              alt="{{ product.title }}"
            />

            <div class="card-body d-flex flex-column justify-content-between">
              <div>
                <h5 class="card-title">{{ product.title }}</h5>
              </div>
              <div class="text-center">
                <p class="card-text">
                  <strong>Price:</strong
                  ><span class="price">{{ product.price | currency }}</span>
                </p>
              </div>
            </div>

            <div class="overlay">
              <a
                [routerLink]="['/products/product-detail', product.id]"
                class="icon-link"
              >
                <fa-icon [icon]="faEye" class="icon p-5"></fa-icon>
              </a>
              @if(authService.role !="admin"){
              <a
                [routerLink]="[]"
                (click)="addToCart(product.id)"
                class="icon-link p-5"
              >
                <fa-icon [icon]="faCartPlus" class="icon col-2"></fa-icon>
              </a>
              }
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid my-5">
        <div class="row justify-content-center">
          <div class="col-auto">
            <button
              class="btn btn-secondary btn-fixed-size mr-2"
              (click)="prevPage()"
            >
              Previous
            </button>
            <button
              class="btn btn-secondary btn-fixed-size"
              (click)="nextPage()"
            >
              Next
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>
</div>
