.carousel-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.638);
  z-index: 3;
}

#carouselExampleFade {
  z-index: 1;
}

.content-overlay {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 4;
  color: rgba(255, 255, 255, 0.789);
}

.carousel-overlay {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 4;
}

.content-overlay h1 {
  font-variant-ligatures: no-discretionary-ligatures;
  font-weight: 600;
}

.content-overlay p {
  font-size: 1.2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.carousel-image {
  min-width: 100px;
  min-height: 100px;
  max-height: 100px;
  background-color: rgba(244, 246, 248, 0.304);
}

@media (max-width: 1200px) {
  .carousel-image {
    max-width: 45px;
    max-height: 45px;
  }

  .content-overlay p {
    font-size: 0.9rem;
  }
  .carousel-overlay {
    top: 65%;
  }

  .content-overlay {
    top: 43%;
  }
}

@media (max-width: 576px) {
  .carousel-image {
    max-width: 32px;
    max-height: 32px;
  }

  .content-overlay p {
    font-size: 0.8rem;
  }

  .carousel-overlay {
    top: 64%;
  }

  .content-overlay {
    top: 43%;
  }
}
