<div class="container py-4" style="background-color: #f8f9fa;">
  <h2 class="mb-4 text-center">Add New Product</h2>
  <form (ngSubmit)="submitAddProductForm()" class="needs-validation" novalidate>
    <div class="form-group row mb-4">
      <label for="title" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="title" [(ngModel)]="newProduct.title" name="title" required>
        <div *ngIf="validationErrors.title" class="invalid-feedback">
          {{ validationErrors.title[0] }}
        </div>
      </div>
    </div>
    <div class="form-group row mb-4">
      <label for="description" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="description" [(ngModel)]="newProduct.description" name="description" required>
        <div *ngIf="validationErrors.description" class="invalid-feedback">
          {{ validationErrors.description[0] }}
        </div>
      </div>
    </div>
    <div class="form-group row mb-4">
      <label for="price" class="col-sm-2 col-form-label">Price</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="price" [(ngModel)]="newProduct.price" name="price" required>
        <div *ngIf="validationErrors.price" class="invalid-feedback">
          {{ validationErrors.price[0] }}
        </div>
      </div>
    </div>
    <div class="form-group row mb-4">
      <label for="stock" class="col-sm-2 col-form-label">Stock</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="stock" [(ngModel)]="newProduct.stock" name="stock" required>
        <div *ngIf="validationErrors.stock" class="invalid-feedback">
          {{ validationErrors.stock[0] }}
        </div>
      </div>
    </div>
    <div class="form-group row mb-4">
      <label for="image" class="col-sm-2 col-form-label">Image</label>
      <div class="col-sm-10">
        <input type="file" class="form-control-file" id="image" (change)="onFileChange($event)" accept="image/*" required>
        <div *ngIf="validationErrors.image" class="invalid-feedback">
          {{ validationErrors.image[0] }}
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10 offset-sm-2">
        <button type="submit" class="btn btn-primary ms-3">Submit</button>
        <button type="button" class="btn btn-danger ms-3" (click)="cancelAddProduct()">Cancel</button>
      </div>
    </div>
  </form>
</div>
